:root {
    --brand-color: #2196F3;
    --black-logo: #000000;
    --button-hover: #188CE8;

    --title: #212121;
    --text-white: #FFFFFF;
    --text: #757575;
    --footer-contact: rgba(255, 255, 255, 0.6);

    --header-border: #ECECEC;
    --projects-border: #EEEEEE;

    --main-bg: #FFFFFF;
    --bg-team-filters: #F5F4FA;
    --bg-hero-footer: #2F303A;
    --bg-hero: #C4C4C4;
    --hero-gradient: rgba(47, 48, 58, 0.4);
    --bg-works: rgba(47, 48, 58, 0.8);
    --bg-backdrop: rgba(0, 0, 0, 0.2);

    --social-links: #AFB1B8;
    --bg-footer-icon: rgba(255, 255, 255, 0.1);
    --icon-modal: #212121;

    --cards-gap: 30px;
    --qty-cards: 3;

    --link-transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}